.App {
  text-align: center;
  font-family: Bahnschrift, serif;
}

.no-select {
  user-select: none;
  color: aqua;
}
.App-header {
  background-color: #111322;
  min-height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Bahnschrift, serif;
}

.App-link {
  color: aqua;
}

.round {
  width: 150px;
  height: 150px;
  border: 1px solid white;
  border-radius: 50%;
}

.s404 {
  color: aqua;
  font-size: 50px;
}

.round h1 {
  margin-top: 40px;
}

.button-wrapper {
  margin-top: 50px;
  margin-bottom: 10px;
  width: 180px;
}

.btn1, .btn2 {
  display: inline-block;
  background-color: transparent;
  width: 65px;
  height: 65px;
  border: 2px solid white;
  border-radius: 0%;
  color: white;
  font-size: 30px;
  font-family: Bahnschrift, serif;
}

.btn1 {
  float: left;
}

.btn2 {
  float: right;
}

menu {
  margin: 0;
  height: 30px;
  display: block;
}
a {
  line-height: 30px;
  text-decoration: none;
  color: white;
  margin: 0 10px;
}
a:hover {
  color: aqua;
}